version: "3.9"

services:
  db:
    image: postgres:15
    container_name: odoo_db
    environment:
      POSTGRES_DB: odoo
      POSTGRES_USER: odoo
      POSTGRES_PASSWORD: odoo
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

  odoo:
    image: odoo:19
    container_name: odoo_app
    depends_on:
      - db
    ports:
      - "8069:8069"
    volumes:
      - ./addons:/mnt/extra-addons
    environment:
      DB_HOST: db
      DB_USER: odoo
      DB_PASSWORD: odoo

volumes:
  db_data:
